{% extends "blog/main.html" %}
	{% block head %}
	{% load static %}
  	<script src="{% static 'blog/tinymce/tinymce.min.js' %}"></script>
  	<script src="{% static 'blog/tag_editor/jquery.caret.min.js' %}"></script>
  	<script src="{% static 'blog/tag_editor/jquery.tag-editor.min.js' %}"></script>
  	<link rel="stylesheet" type="text/css" href="{% static 'blog/tag_editor/jquery.tag-editor.css' %}">
  	<title> Editing a post</title>
  	{% endblock %}
	{% block content %}
	<h1>Editing a post</h1>
	<form id='post_form' method="POST" action="">
		{% csrf_token %}
		<div id='post_title_form'>Title:{{ form.title }}</div>
		<div id='post_body_form'>{{ form.body }}</div>
		{{ form.date_time }}
		{{ form.timestamp }}
		<div id='post_tags_form'>Tags:{{ form.tags }}</div>
		{{ form.slug }}
		{{ form.errors }}
		<input id='submit_btn' type='submit' name='submit' value='Edit Post'/>
	</form>
	<script type="text/javascript">
	tinymce.init({ 
	 selector:'#id_body',
	 plugins: [
    'advlist autolink autosave autoresize lists link image charmap preview hr anchor pagebreak',
    'searchreplace code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'paste textcolor colorpicker textpattern imagetools codesample toc'
  ],
  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link ',
  toolbar2: ' image media | forecolor backcolor emoticons | codesample | code preview',
  image_title: true,
  file_picker_types: 'image', 
  file_picker_callback: function(cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');
    input.onchange = function() {
    var file = this.files[0];
    var id = 'blobid' + (new Date()).getTime();
    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
    var blobInfo = blobCache.create(id, file);
    blobCache.add(blobInfo);  
    cb(blobInfo.blobUri(), { title: file.name });
    };
    	
    input.click();
  	},
	 width:700,
	 height: 500 });
     $('#id_tags').tagEditor({
     placeholder: 'Enter tags ...',})
</script>
	{% endblock %}
