<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	{% load static %}
	{% block head %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
	
</head>
<body>
	<div id='login_panel'>
	{% if user.is_authenticated %}
		Logged in as {{user.username}}<a class='btn' id='logout_btn' href="{% url 'logout' %}">Logout</a>
		<a class='btn' id='add_post_btn'href="{% url 'add_post' %}">Add a new Post </a>
	{% else %}
		<a class='btn' id='login_btn' href="{% url 'login' %}">Login</a>
	{% endif %}
	</div>
	<div class='header'>
	<a href="/"><img src='https://technarium.lt/img/logo_small.png'/></a>
	</div>
		<div id='post_list'>
		{% block post_list %}
		{% endblock %}
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>