<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	{% load static %}
	{% block head %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
	
</head>
<body>
	<div id='login_panel'>
	{% if user.is_authenticated %}
		Logged in as {{user.username}}<a class='btn' id='logout_btn' href="{% url 'logout' %}">Logout</a>
		<a class='btn' id='add_post_btn'href="{% url 'add_post' %}">Add a new Post </a>
	{% else %}
		<a class='btn' id='login_btn' href="{% url 'login' %}">Login</a>
	{% endif %}
	</div>
	<div class='header'>
		<div id="blog_logo">
	<a href="/"><img src='http://static.tumblr.com/13d14da1c5321d9c0115e498d0cea7de/gxo5ao6/z3nmvqtu0/tumblr_static_logo_small.png' width=200px/></a>
	</div>
	<div id="description">
		A hackerspace in Vilnius, Lithuania. All content CC BY-NC-SA 4.0.
	</div>	
	</div>
		<div id='post_list'>
		{% block post_list %}
		{% endblock %}
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
