<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	{% load static %}
	{% block head %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/fonts.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
	
	
</head>
<body>
	<div id="container">
	<div id='login_panel'>
	{% if user.is_authenticated %}
		Logged in as {{user.username}}<a class='btn' id='logout_btn' href="{% url 'logout' %}">Logout</a>
		<a class='btn' id='add_post_btn'href="{% url 'add_post' %}">Add a new Post </a>
	{% else %}
		<a class='btn' id='login_btn' href="{% url 'login' %}">Login</a>
	{% endif %}
	</div>
	<div id='sidebar'>
	
		<div id="blog_logo">
	<a href="/"><img src='{{MEDIA_URL}}blog/logo_small.png'/></a>
	</div>
	<div id="description">
		A hackerspace in Vilnius, Lithuania. All content CC BY-NC-SA 4.0.
	</div>	
		<div id="nav">
	<p><a id = 'joinLink' href="join.html?language=en" title="Join us!"><img src="{{MEDIA_URL}}blog/she-wolf.png" alt="Join us!"/>Join Technarium!</a></p>
	<p><a href="projects.html?language=en" title="Our projects and ideas"><img src="{{MEDIA_URL}}blog/feynman_diagram.png" />Projects &amp; ideas</a></p>
	<p><a href="equipment.html?language=en" title="Tools and equipment"><img src="{{MEDIA_URL}}blog/tools.png" />Tools &amp; equipment</a></p>
	<p><a href="friends.html?language=en" title="Our friends"><img src="{{MEDIA_URL}}blog/mandelbrot.png" />Friends</a></p>
	<p><a href="support.html?language=en" title="Support us!"><img src="{{MEDIA_URL}}blog/battery.png" />Support us!</a></p>
		</div>
	</div>
		<div id='post_list'>
		{% block post_list %}
		{% endblock %}
		{% block content %}
		{% endblock %}
	</div>
	</div>
</body>
</html>
