{% if post_list %}
	{% for post in post_list %}
		<div class='post'>
		<h1 class='post_title'>
		<a href="{% url 'single_post_view' slug=post.slug pk=post.pk %}">{{post.title}}</a>
		</h1>
		<div class='post_body'><p>{{ post.body|safe }}</p></div>
		<div class='post_date'>Posted on {{post.date_time}}
		{% if post.created_by %}
		by <a href="{% url 'view_posts_by_author' username=post.created_by %}">{{ post.created_by }}</a>
		{% endif %}
		</div>
		<div class='tags'>Tagged</br>
			{% for tag in post.tags.all %}
			<a class='btn tag_button' href="{% url 'view_tagged_posts' tag_name=tag.name %}">{{tag.name}}</a>
			{% endfor %}
		</div>
		{% if user.is_authenticated %}
			{% if user.username == post.created_by.user.username or user.is_superuser %}
			<a href="{% url 'edit_post' pk=post.pk slug=post.slug %}">Edit post</a>
			<a href="{% url 'delete_post' pk=post.pk slug=post.slug %}">Delete post</a>
			{% endif %}
		{% endif %}
		{% if post.comment_set.count > 0 %}
			<a href="{% url 'add_comment' pk=post.pk slug=post.slug  %}">
			{{post.comment_set.count}} Comments
			</a>
			{% else %}
			<a href="{% url 'add_comment' pk=post.pk slug=post.slug  %}">Add a comment</a>
		{% endif %}
	</div>
	{% endfor %}
{% endif %}